
/* utilities */
:root{
    --green:#4DA44B;
    --head:#395167;
    --black:#000000;
    --shadow:0px 5px 15px #C4C4C4;
}
@font-face {
    font-family: Gotham ;
    src: url(../fonts/Gotham-Font/Gotham-Thin.otf);
    font-weight: normal;
}
@font-face {
    font-family: Gotham ;
    src: url(../fonts/Gotham-Font/GothamBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Gotham ;
    src: url(../fonts/Gotham-Font/GothamMedium.ttf);
    font-weight: 400;
}
body{
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: var(--head);
}
ul{
    margin: 0;
}
.navbar-nav.custom_menu {
    margin-left: auto;
}
.buttonone {
    background: #F1E7D9;
    border-radius: 10px;
    color: #EC6605;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
}
p{
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 129%;
    color: var(--black);
}
a{
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 129%;
    color: var(--black);
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}

/* header area */
.navbar-nav.custom_menu li a {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: #4DA44B!important;
}
/* slider section area */
#homeSlider {
    padding: 50px 0;
}
#headingTitla {
    max-width: 691px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
#headingTitla h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 129%;
    color: var(--head);
}
#headingTitla h2 span {
    color: var(--green);
}
#headingTitla p {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 129%;
    text-align: center;
    color: var(--head);
}
#homeSlider .carousel-inner img {
    border-radius: 20px !important;
}

/* our Businesses area */
#ourBusinesses {
    padding: 50px 0;
}
#ourBusinesses .card {
    border-radius: 24px;
    border: none;
    text-align: center;
}
#ourBusinesses .card img {
    box-shadow: var(--shadow);
    border-radius: 24px;
}
#ourBusinesses .card h3 {
    margin-top: 25px;
}
.customGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
}

/* latest Products area*/
#latestProducts {
    padding: 50px 0;
}
#latestProducts .card {
    border: none;
    text-align: center;
}
#latestProducts .card img {
    box-shadow: var(--shadow);
    border-radius: 24px;
}
#latestProducts .card h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}
#latestProducts .card P {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 129%;
    text-align: center;
    color: #000000;
}

/* footer area */
#main-footer {
    padding: 50px 0;
}
.widgethead {
    margin-bottom: 40px;
}
.widgethead h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    color: #939191;
    margin-top: 52px;
}
.widget ul li a {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 18px;
    color: var(--black);
}
.widget ul li{
    margin-bottom: 20px;
}

/* banner section area */
#bannerSection {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#bannerSection {
    text-align: center;
}
.bannerSecton {
    padding-top: 100px;
}
.bannerSecton h1 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 129%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.bannerSecton p {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 129%;
    text-align: center;
    color: #FFFFFF;
    max-width: 793px;
    margin: auto;
}
.topBar ul li a {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 129%;
    color: var(--head);
}
.topBar ul li {
    display: inline-block;
    margin-right: 5px;
}
.topBar ul li img {
    max-width: 100%;
    height: auto;
    margin-right: 5px;
    margin-top: -4px;
}
.topBar {
    padding: 30px 0;
}
.topBar ul{
    margin-bottom: 0;
}
.heading {
    text-align: center;
}
#midSection h2 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 129%;
    text-align: center;
    color: var(--head);
}
.heading p {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 129%;
    text-align: center;
    color: var(--black);
    max-width: 808px;
    margin: auto;
    padding: 50px 0;
}
.item_area {
    max-width: 808px;
    margin: auto;
    margin-top: 30px
}
.item_area ul {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 15px;
    grid-row-gap: 7px;
}
.item_area ul li {
    background-color: #C4C4C4;
    padding: 7px 11px;
}
.item_area ul li {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 129%;
    color: var(--black);
}
.ChemicalHeading {
    padding-bottom: 95px;
}
.applications ul {
    max-width: 808px;
    margin: auto;
}
.applications ul li {
    list-style: disc;
    margin-bottom: 20px;
}
.applications ul li {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 129%;
    color: var(--black);
}
.applications h2 {
    margin-bottom: 30px;
}
.box_area {
    padding: 50px 0;
    text-align: center;
}
.box_area h2 {
    margin-bottom: 15px;
}
.custombtn {
    background-color: #D8D6D6;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 28px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 129%;
    text-align: center;
    color: var(--head);
}
.midSectionArea {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    padding: 0 40px;
}
#midSection {
    margin-top: -300px;
    padding: 50px 0;
}

.ourSlider .slick-prev::before {
    content: ' ';
    background-image: url(../image/Vector.png);
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.ourSlider .slick-next::before {
    content: ' ';
    background-image: url(../image/Vector\(1\).png);
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.ourSlider .slick-prev::before, .ourSlider .slick-next::before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    color: #395167;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ourSlider .slick-prev {
    left: -25px;
}
.ourSlider .slick-next {
    right: -35px;
}
.ourSlider .slick-prev, .ourSlider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.ourSlider {
    padding: 100px 0;
}
.midtext{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactMap {
    margin-top: -50px;
    border-radius: 20px;
    overflow: hidden;
}
.bgcloor {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.5);
}
.heading-map h2 {
    color: #fff !important;
}
.contactFrom {
    max-width: 559px;
    margin: auto;
}
.contactFrom input {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F4F4F4;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.contactFrom textarea {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #F4F4F4;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 5px 10px;
    resize: none;
}
.contactFrom input::placeholder {
    color: #FFFFFF;
    opacity: 1;
  }
  .contactFrom textarea::placeholder {
    color: #FFFFFF;
    opacity: 1;
  }
  .theHeading {
    text-align: center;
}
.heading-map {
    text-align: center;
}
.our-map {
    margin-bottom: 200px;
}
#contactMap {
    position: relative;
    bottom: -150px;
}
.row.tebContent {
    padding: 70px 0;
}
.leftImagebox img {
    border-radius: 20px;
}
.leftImagebox.right {
    text-align: right;
}

.contactFrom {
    text-align: center;
}
#SUBMIT {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 50px;
    cursor: pointer;
}


/* banner part start  */
.banner{
    background-image: url(../image/120.jpg);
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}
.conten {
    padding-top: 100px;
}
.banner .conten h5{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 129%;
    /* or 103px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.banner .conten p{
    max-width: 693px;
    margin: auto;
    font-family: Gotham;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
/* banner part start  */

/* card list start  */

.gallery_area{
    position: relative;
    top: -300px;
    margin-bottom: -350px;
}
.top_content a:hover{
    text-decoration: underline!important;
}

.top_content a{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 129%;
    color: #ffffff!important;
    padding: 20px 0;
}  

.card_area{
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 24px;
}
.card_area p{
    padding: 15px 0;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin:0;
}
.card_list{
    max-width: 945px;
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
}
.card_list img{
    border-radius: 24px;
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.card_list:hover{
    max-width: 985px;
    transition: .5s;
    transform: scale(1.0);
}

#card_color{
    background-color: transparent;
    border: none;
}
.card-content{
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    height: 100%;
}
.text_box{
    width: 100%;
}
.card-content h4{
    font-family: Josefin Sans;
    font-size: 50px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.card-content p{
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.card_list {
    transition: 1s;
}
.card_gallery {
    padding-bottom: 70px;
}

#contact-us {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.backColor {
    background: rgba(0, 0, 0, 0.4);
    padding: 50px 0;
}
.headh1 h1 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 112.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}
.our-contact-map iframe {
    width: 100%;
    height: 900px;
}
.addreass h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.addreass p {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.contactBook p {
    margin-bottom: 0;
}
.contactBook {
    margin-bottom: 25px;
}
.middib {
    display: flex;
    align-items: center;
}

.inputfomr input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 20px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFF;
}
.ourContactFrom {
    padding-top: 100px;
    padding-bottom: 50px;
}

.inputfomr textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 33px;
    margin-bottom: 30px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
}
.submit-form input {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px 60px;
    border-radius: 5px;
    
}

.inputfomr input::placeholder{
    color: #fff;
    opacity: 1;
}

.inputfomr textarea::placeholder{
    color: #fff;
    opacity: 1;
}

.sociladib ul li {
    display: inline-block;
    margin-right: 10px;
}
.sociladib ul li a {
    font-size: 25px;
    color: #fff;
}

.row.footer {
    padding-top: 50px;
}
.row.footer p {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    color: #FFFFFF;
}
.f-right {
    text-align: right;
}


.subchild {
    position: relative;
}
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: var(--shadow);
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    z-index: 9;
    width: 277px;
    display: none;
}
.sub-menu li a {
    font-family: Gotham!important;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 17px;
    color: #4DA44B;
}
.sub-menu li {
    margin-bottom: 10px;
}

.custom_menu .sub-menu li ul li a {
    font-family: Gotham !important;
    font-size: 15px ;
    line-height: 18px ;
    color: #939191 !important;
}
.sub-menu li ul li {
    margin-bottom: 0;
}
.sub-menu::after {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    z-index: 9999;
    top: -19px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid var(--green);
    left: 27px;
}
.custom_menu li:hover .sub-menu {
    display: block;
}

.emailFooter {
    margin-top: 57px;
}

.midSectionArea.about {
    padding-bottom: 50px;
}
.midSectionArea.about .heading p {
    padding: 30px 0;
}

.button-2 {
    background: white;
    padding: 15px 30px;
    color: dodgerblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    border-color: dodgerblue;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0px 0px 0px -10px rgba(0, 0, 0, .5);
    transition: all 100ms ease-in-out;
    display: inline-block;
}
.button-2:hover {
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
}